@media screen and (max-width:599px) and (orientation:portrait) {
    .main-outer .main-inner {
    	width: 86%;
		height: 3.2rem;
		border-radius: .3rem;
        h1 {
            font-size: .38rem;
            padding: .24rem .2rem .02rem;
        }
        p {
            font-size: .24rem;
        }
        .subjects > div {
            font-size: .88rem;
            padding-top: .42rem;
        }
    }
}

@media screen and (min-width:600px) {
    .main-outer .main-inner {
    	width: 500px;
    	height: 300px;
		border-radius: 10px; 
        h1 {
            font-size: 26px;
            padding: 40px 0 6px;
        }
        p {
            font-size: 14px;
        }
        .subjects > div {
            font-size: 60px;
            padding-top: 50px;
        }
    }
}