@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fn7izy');
  src:  url('fonts/icomoon.eot?fn7izy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fn7izy') format('truetype'),
    url('fonts/icomoon.woff?fn7izy') format('woff'),
    url('fonts/icomoon.svg?fn7izy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e904";
}
.icon-archive:before {
  content: "\e902";
}
.icon-back-to-top:before {
  content: "\e903";
}
.icon-go:before {
  content: "\e905";
}
.icon-goto:before {
  content: "\e906";
}
.icon-home-page:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-github:before {
  content: "\e900";
  color: #09c;
}
.icon-blog:before {
  content: "\e901";
  color: #f66;
}
.icon-mini-app:before {
  content: "\e916";
  color: #6c0;
}
